* {
  box-sizing: border-box;
  font-family: 'Biryani', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
  color: #363636;
  margin-left: 80px;
  padding-left: 30px;
}

.navigation {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: white;
}

.navigation .elephant {
  width: 70px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 190px;
}

nav button {
  display: block;
  width: 40px;
  margin: 14px;
  background: transparent;
  border: none;
  outline: none;
}

.nav-icon-button {
  border-left: 3px solid #1CA3BA;
}

/* .dashboard-button {
  border-left: 3px solid #1CA3BA;
} */

.elephant {
  width: 50px;
}

header {
  font-size: 14px;
}

.left-container, .right-container{
  float: left;
  width: 45%;
  padding: 30px 0px 5px;
  margin: 0;
}

.right-container {
  background-color: white;
  padding: 0;
  margin-left: 85px;
  margin-top: 95px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);
}

.welcome {
  width: 100%;
  height: 90px;
  margin-top: 20px;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);
}

.close-img {
  height: 12px
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
}

.name {
  padding: 29px 70px 20px 30px;
}

.income-cards {
  margin-top: 20px;
    /* border: 1px solid black; */
}

.card {
  display: inline-block;
  width: 30%;
  height: 100px;
  margin: 0;
  background-color: white;
  text-align: left;
  padding-left: 20px;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);
}

.card h6 {
  margin: 0;
  margin-top: 20px;
}

.card p {
  font-size: 20px;
  margin: 2px;
}

.expenses {
  margin-left: 25px;
}

.credit {
  margin-left: 25px;
}

.accounts-banner {
  margin: 40px 0px 20px;
}

.title {
  padding-top: 15px;
  padding-right: 200px;
  font-size: 22px;
}

.accounts-button,
.trans-button {
  float: right;
  background-color: #1CA3BA;
  padding: 6px 28px 2px;
  font-size: 14px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
}

.accounts-button {
  margin-top: 0px;
}

.account {
  width: 100%;
  height: 80px;
}

.account-cards {
  margin-bottom: 15px;
  padding: 22px 0px 20px 20px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);
  border-radius: 3px;
  position: relative;
}

.accounts img {
  position: absolute;
  top: 20px;
  width: 30px;
}

.accounts span {
  padding-top: 10px;
}

.accounts .column-one {
  margin-left: 120px;
}

.accounts .column-two {
  margin-left: 200px;
}

.accounts .amazon {
  margin-left: 180px;
}

.accounts .southwest {
  margin-left: 160px;
}

.recent-banner {
  margin: 30px 0px 20px;
}

.recent-title {
  float: left;
  margin-left: 25px;

}

.trans-button {
  margin-right: 35px;
}

.trans-table {
  float: left;
  padding: 25px;
  padding-top: 5px;
  font-size: 15px;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 8px 0;
  border-bottom: 1px solid #CCCCCC;
  text-align: left;
}

.trans-table th {
  border-bottom: none;
}

.table-date {
  width: 8%;
}

.table-account {
  width: 5%;
}

.table-payee {
  width: 11%;
  text-align: left;
}

.table-inflow {
  width: 6%;
}

.table-outflow {
  width: 3%;
}

/* Style for Transactions page: */

.trans-title {
  display: inline-block;
  margin-right: 130px;
}

.trans-left-container {
  float: left;
  width: 47%;
}

.trans-header {
  width: 100%;
  padding-top: 30px;
}

.trans-header button {
  background-color: white;
  color: #1CA3BA;
  border: 1px solid #1CA3BA;
  width: 110px;
  height: 32px;
  padding: 7px 0;
  font-size: 12px;
  border-radius: 20px;
  text-transform: uppercase;
}

.trans-header button:hover {
  color: white;
  background-color: #1CA3BA;
}

.table-container {
    width: 100%;
    height: 85vh;
    margin-top: 20px;
    overflow: scroll;
    /* border: 1px solid black; */
}

.trans-table-2 {
  background-color: white;
  padding: 20px 25px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);
  font-size: 14px;
  overflow: scroll;
}

.trans-table-2 th {
  font-size: 15px;
}

.trans-right-container {
  width: 40%;
  height: 85vh;
  margin-top: 20px;
  margin-left: 730px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);
}

.new-trans-title {
  text-align: center;
  padding: 30px 0 10px 0;
}

form {
  padding: 0 75px;
}

label {
  display: block;
  height: 30px;
}

select, input {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  border: none;
  border-radius: 5px;
}

select {
  font-size: 14px;
}

.log-button input {
  background-color: #1CA3BA;
  border: none;
  text-decoration: none;
  width: 140px;
  background-color: #1CA3BA;
  color: white;
  padding: 4px 0;
  font-size: 14px;
  border-radius: 20px;
}
