* {
  box-sizing: border-box;
  font-family: 'Biryani', sans-serif;
}

html,
body {
  background-color: #F5F5F5;
  color: #363636;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  padding-top: 10px;
}

body {
  margin-left: 80px;
  padding-left: 30px;
}

.navigation {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  margin: 0;
  padding: 0;
}

.navigation .elephant {
  width: 70px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 230px;
}

nav button {
  display: block;
  width: 50px;
  margin: 14px;
  background: transparent;
  border: none;
}

.nav-button {
  border-left: 2px solid black;

}

.elephant {
  width: 50px;
}

.left-container, .right-container{
  float: left;
  width: 45%;
  /* border: 1px solid black; */
  padding: 1%;
  margin: 1%;
}

.welcome {
  /* width: 47%; */
  height: 90px;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.05);
}

.close-img {
  height: 12px
}

.close-button {
  position: absolute;
  top: 5px;
  right: 00px;
  background: transparent;
  border: none;
}

.income-cards {
  /* border: 2px solid black; */
  margin-top: 20px;
  overflow: auto;
  border-radius: 3px;
}

.card {
  float: left;
  width: 30%;
  height: 90px;
  margin: 1.5%;
  background-color: white;
  text-align: left;
  padding-left: 20px;
  text-transform: uppercase;
  box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.05);
}

.title {
  padding-top: 15px;
  padding-right: 200px;
  font-size: 24px;
  display: inline-block;
}

.blue-button,
.trans-button {
  float: right;
  margin-top: 35px;
  display: inline-block;
  background-color: #1CA3BA;
  margin-left: 10px;
  padding: 2px 22px;
  font-size: 12px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
}

.name {
  padding: 29px 70px 20px 35px;
}

/* .right-container {
  float: right;
  border: 1px solid black;
  width: 40%
} */

.card h6 {
  margin: 0;
  margin-top: 25px;
}

.card p {
  margin: 2px;
}

.account-cards {
  width: 100%;
  height: 65px;
  float: left;
  margin-left: 0;
  padding-left: 15px;
  padding-top: 12px;
  background-color: white;
  margin: 10px;
  box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.05);
  border-radius: 3px;
}

.right-container {
  background-color: white;
  padding: 0;
  margin: 50px;
  margin-top: 135px;
  box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.05);
}

.transactions {
  margin-top: 30px 10px;
}

.recent-title {
  float: left;
  overflow: auto;
  margin-left: 15px;
  margin-bottom: 0;

}
.recent-button {
  padding: 0;
  margin: 15px 10px;
  /* padding: 6px 30px;
  margin: 20px;
  overflow: auto; */
}

.trans-button {
  margin: 18px 20px;

}

.recent-title {
  /* margin-right: 150px; */
  font-size: 22px;
}

.trans_table {
  float: left;
  padding: 25px;
  padding-top: 5px;
  font-size: 16px;
}

.trans_table tr {
  height: 10px;
}

.heading-date,
.heading-payee,
.heading-inflow,
.heading-outflow {
text-align: left;
padding: 10px 0px;
}

.table-date,
.table-payee,
.table-inflow,
.table-outflow {
  border-bottom: 1px solid #CCCCCC;
  text-align: left;
  padding: 5px 0px;
}

.table-date {
  width: 10%;
}

.table-payee {
  width: 10%;
  text-align: left;
}

.table-inflow {
  width: 6%;
}

.table-outflow {
  width: 3%;
}

.account_cards td {
  text-align: left;
}
