* {
  box-sizing: border-box;
  font-family: 'Biryani', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
  color: #363636;
  margin-left: 80px;
  padding-left: 30px;
}

.navigation {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: white;
}

.navigation .elephant {
  width: 70px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 190px;
}

nav button {
  display: block;
  width: 40px;
  margin: 14px;
  background: transparent;
  border: none;
  outline: none;
}

.nav-icon-button {
  border-left: 3px solid #1CA3BA;
}

/* .dashboard-button {
  border-left: 3px solid #1CA3BA;
} */

.elephant {
  width: 50px;
}

header {
  font-size: 14px;
}

.trans-title {
  display: inline-block;
  margin-right: 100px;
}

.trans-left-container {
  float: left;
  height: 100vh;
  width: 47%;
}

.trans-header {
  width: 100%;
  padding-top: 30px;
}

.trans-header button {
  background-color: white;
  border: 1px solid #1CA3BA;
  width: 110px;
  height: 32px;
  padding: 7px 0;
  font-size: 12px;
  border-radius: 20px;
  color: #1CA3BA;
  text-transform: uppercase;
}

.trans-header button:hover {
  color: white;
  background-color: #1CA3BA;
}

.trans-table-2 {
  background-color: white;
  height: 90vh;
  margin-top: 20px;
  padding: 25px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);
  font-size: 14px;
  overflow: scroll;
}

th,
td {
  padding: 8px 0;
  border-bottom: 1px solid #CCCCCC;
  text-align: left;
}

.trans-table-2 th {
  font-size: 15px;
}

.table-date {
  width: 8%;
}

.table-account {
  width: 5%;
}

.table-payee {
  width: 11%;
  text-align: left;
}

.table-inflow {
  width: 3%;
}

.table-outflow {
  width: 3%;
}

.trans-right-container {
  width: 40%;
  height: 640px;
  margin-top: 20px;
  margin-left: 730px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);
}

.new-trans-title {
  text-align: center;
  padding: 30px 0 10px 0;
}

form {
  padding: 0 75px;
}

label {
  display: block;
  height: 30px;
}

select, input {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  border: none;
  border-radius: 5px;
}

select {
  font-size: 14px;
}

.log-button input {
  background-color: #1CA3BA;
  border: none;
  text-decoration: none;
  width: 140px;
  background-color: #1CA3BA;
  color: white;
  padding: 4px 0;
  font-size: 14px;
  border-radius: 20px;
}
