* {
  box-sizing: border-box;
}

html,
body {
  background-color: #F5F5F5;
  color: #363636;
  font-family: 'Biryani', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  padding-top: 10px;
}

body {
  margin-left: 80px;
  padding-left: 30px;
}

.navigation {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  margin: 0;
  padding: 0;
}

.navigation .elephant {
  width: 70px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 230px;
}

nav img {
  display: block;
  width: 37px;
  margin: 25%;
}

.elephant {
  width: 50px;
}

.left-container, .right-container{
  float: left;
  width: 45%;
  /* border: 1px solid black; */
  padding: 1%;
  margin: 1%;
}

.welcome {
  /* width: 47%; */
  height: 90px;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
}

.title {
  padding-right: 200px;
}

button {
  background-color: #1CA3BA;
  padding: 6px 40px;
  font-size: 16px;
  border-radius: 20px;
  text-transform: capitalize;
  color: white;
}

.income-cards {
  border: 2px solid black;
}

.name {
  padding: 29px 70px 20px 35px;
}

.income {
  weight: 400px;
  border: 2px solid black;
}

.card {
  /* float: left; */
  /* width: 31%;
  margin: 20px 1%;
  height: 100px;
  background-color: white; */
  display:inline-block;
  width: 29%;
  height: 100px;
  margin-right: 20px;
  background-color: white;
}

.title {
  display: inline-block;
}

/* .right-container {
  float: right;
  border: 1px solid black;
  width: 40%
} */

.right-container {
  background-color: white;
}

table {
  background-color: white;
  margin: 10px;
}

.account-cards {
  width: 100%;
  float: left;
}
